a {
  font-size: 30px;
  font-family: Verdana, Geneva, sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;

  flex-direction: column;  
}

.header {
  height: 80px;
  border-bottom: 5px rgb(207, 2, 43) solid;
}

.content {
  display: flex;
  flex: 1;
  border-top: 5px rgb(240, 125, 0) solid;

  flex-direction: row;  
  /* border-bottom: 5px rgb(207, 2, 43) solid;        */
}

.calendar {
  height: 70px;
}

.planing {
  width: 96%;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
}

.footer {
  /* border-top: 5px rgb(240, 125, 0) solid;   */
  height: 120px;
  margin-top: 20px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
}

.creneau {
  margin-left: 3%;
  width : 30%;
}

.information {
  width : 65%;
  margin-left: 3%;
  font-size: 35px;
  font-family: Verdana, Geneva, sans-serif;
}

.session {
  margin-top: 15%;  
  font-size: 25px;
  font-family: Verdana, Geneva, sans-serif;
}

.facilitateur {
  margin-top: 5%;    
  font-size: 25px;
  font-family: Verdana, Geneva, sans-serif;
}

.heure {
  font-size: 35px;
  font-family: Verdana, Geneva, sans-serif;
  margin-top: 40%;
}

.date {
  float: left;
  width: 25%;
  margin-left: 2%;
  margin-top: 3%;    
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
}

.title {
  float: left;
  width: 52%;
  margin-top: 2%;  
  font-size: 40px;
  font-family: Verdana, Geneva, sans-serif;
}

.time {
  float: left;
  width: 19%;
  margin-top: 2%;    
  font-size: 30px;
  font-family: Verdana, Geneva, sans-serif;
}

table, th, td {
  border-bottom: 1px solid rgb(136, 136, 136);
  border-right: 1px solid rgb(136, 136, 136);
  border-left: 1px solid rgb(136, 136, 136);
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;
  font-size: 17px;
  font-family: Verdana, Geneva, sans-serif;
}

.nextsession {
  float: left;    
  width: 100%;

  margin-top: 40px;
  margin-left: 3%;
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
}

.soprasteria {
  float: left;    
  width: 12%;
}

.logoSopraSteria {
  max-width: 100%;
	height: auto;
}

body {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
}

[data-status="true"] {
  background-color: rgb(15, 129, 236);
}
[data-status="false"] {
  background-color: red;
}